#inventory {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: 1rem;
    margin-inline: auto;

    width: max-content;
}

#inventory-header {
    align-self: start;

    display: flex;
    justify-content: space-between;

    margin-block: 1rem;
    width: 100%;
}

#inventory-body {
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0;
    margin-block: 1rem;
    overflow: hidden;
}

#inventory-body > table {
    border-collapse: collapse;

    max-width: 800px;

    & tr:hover {
        background-color: rgba(240, 240, 240, 0.8);
    }

    & .table-header-row {
        border-bottom: 1.5px solid lightgray;
    }

    & .table-body-row:not(:first-child) {
        border-top: 0.75px solid lightgray;
    }

    & td {
        text-align: center;
    }

    & td.col-quantity {
        text-align: right;
    }

    & th, td {
        padding-block: 1rem;
        padding-inline: 1.5rem;
    }
}
